html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
body,textarea,input,button,select,keygen,legend{font:16px "Microsoft YaHei",Verdana,"宋体",sans-serif;font-weight:normal;color:#666666;outline:0;}
header,footer,section,article,aside,nav,address,figure,figcaption,menu,details{display:block;}
h1, h2, h3, h4, h5, h6 {font-weight: normal; font-size: 14px;}
h1{font-size:24px;}
h2{font-size:18px;}
h3{font-size:16px;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
summary{outline:0;}
ul,li{list-style:none;}
img{vertical-align:top;}
a{outline: none;}
a,a:hover{text-decoration:none;cursor:pointer;}
a:link {color:#0066CC;}	
a:visited {color:#3388FF;}
a:hover {color:#0055FF;}
a:active {color:#0055AA;outline:none;}

.wrapper {margin: 0 20px; clear: both;}
.contents {width: 100%; clear: both;}